/algorithms/is_alphabetical/nbproject/private/
/algorithms/is_alphabetical/build/
/algorithms/linked_lists/singly_linked_lists/SinglyLinkedList/nbproject/private/
/algorithms/linked_lists/singly_linked_lists/SinglyLinkedList/build/