<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{title}}
  </h1>
</div>

<router-outlet></router-outlet>
<footer>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p>&copy; 2017 by Jesus C. de la Rosa<p>
        <p>Created using MEAN stack and Bootstrap front-end library</p>
      <p>This site is for demonstration purposes only.  Please do not submit any private personal information.</p>
      <p> Images courtesy of</p>
      <p>Eddy Lackmann, Rob Bye, Maria Soledad, Carl Nenzen Loven & Matt Saling</p>
      <p>and provided through Unsplash.com</p>
    </div>
  </div>

</div>
</footer>
