<h1>Player Status - Game {{ game }}</h1>

<h3><button (click)="whichGame(1)">Game 1</button> | <button (click)="whichGame(2)">Game 2</button> | <button (click)="whichGame(3)">Game 3</button></h3>

<table>
  <tr>
    <th>Player Name</th>
    <th>Status</th>
  </tr>
  <tr *ngFor="let player of players">
    <td>{{player.name}} - {{ player.game1 }}</td>
    <td><button [ngClass]="{'playing': player['game' + this.game] == 2}" type="button" name="playing" (click)="updatePlayerStatus(player, 2)">Playing</button><button [ngClass]="{'notplaying': player['game' + this.game] == 1}" type="button" name="notPlaying" (click)="updatePlayerStatus(player, 1)">Not Playing</button><button [ngClass]="{'undecided': player['game' + this.game] == 0}" type="button" name="undecided" (click)="updatePlayerStatus(player, 0)">Undecided</button></td>
  </tr>
</table>
