<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% load staticfiles %}
    <link rel="stylesheet" type = "text/css" href="{% static 'real_portfolio/css/real_portfolio_style.css' %}" media="screen" title="no title" charset="utf-8">
    <title>Index</title>
  </head>
  <body>
    <h2>Hi, I'm Charlie</h2>
    <h4>Welcome to My Portfolio</h4>
    <div class="">
      <a href = "projects">Projects</a>
      <p>I have a variety of projects both personal and contract.
      They are built using Python, Swift, and JavaScript</p>
    </div>
    <div class="">
      <a href = "about">About Me</a>
      <p>I have a variety of projects both personal and contract.
      They are built using Python, Swift, and JavaScript</p>
    </div>
    <div class="">
      <a href = "testimonials">Testimonials</a>
      <p>I have a variety of projects both personal and contract.
      They are built using Python, Swift, and JavaScript</p>
    </div>
  </body>
</html>
