
<app-nav></app-nav>
<section>
  <div class="container-fluid post-box" *ngFor="let post of posts">
    <div class="row">
      <div class="col-md-4">
        <img src="{{post.photo}}" class="img-responsive img-thumbnail" alt="Bicycle photo not available.">
      </div>
      <div class="col-md-4">
        <h1 class="block">{{post.title}}</h1>
          <p>{{post.description}}</p>
      </div>
      <div class="col-md-4">
        <div class="label_input_pair">
          <h1>{{post.price | currency:"USD":2}}</h1>
          <h3>{{post.location}}</h3>
        </div>
        <div id="edit_delete_div">
          <a *ngIf="currentUser._id != post.user._id" class="btn btn-info" href="mailto:{{post.user.email}}">Contact</a>
          <button *ngIf="currentUser._id == post.user._id" class="btn btn-danger" (click)="destroyPost(post._id, idx)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</section>
