button {
  margin-left: 15px;
  padding-left: 25px;
  padding-right: 25px;
}

.post-box {
  border: 3px solid #3e2723;
  margin: 5px;
  border-radius: 5px;
  background-color: white;
  padding: 20px;
}

#update-listings {
  background-color: #bcaaa4;
  padding: 20px;
  border: 3px solid #d7ccc8;
}

#create-listing {
  background-color: #bcaaa4;
  padding: 20px;
  border: 3px solid #d7ccc8;
  margin-bottom: 15px;
}

#add-update-submit {
  margin-top: 7px;
}
