<p><%= link_to "All Users", users_path %></p>

<h1>Hi, user_name!</h1>

<h3>Here is you profile description:</h3>
<textarea name="name" rows="8" cols="25">
profile description goes here

</textarea>

<h3>Your Professional Network</h3>
<textarea name="name" rows="20" cols="25">
user in network go here
</textarea>

<h3>Invitations:</h3>
<p>The following people asked you to be in their network:</p>
<table>
  <tr>
    <th>Name</th>
    <th>Action</th>
  </tr>
  <tr>
    <td>invitor_name</td>
    <td>Accept - Invite - Ignore</td>
  </tr>
</table>
