  <div>
    <h2>Featured Bike!</h2>
<div>

<section>
  <div class="container-fluid post-box">
    <div class="row">
      <div class="col-md-4">
        <img src="{{randomBike.photo}}" class="img-responsive img-thumbnail" alt="bicycle image">
      </div>
      <div class="col-md-5">
        <h1 class="block">{{randomBike.title}}</h1>
          <p>{{randomBike.description}}</p>
      </div>
      <div class="col-md-3">
        <div class="label_input_pair">
          <h1 >{{randomBike.price | currency:"USD":2 }}</h1>
          <h3>{{randomBike.location}}</h3>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="login-reg">

    <div class="container">
      <div class="row">

        <div class="col-md-6">
          <h3>Login</h3>
          <form id="login-form" (submit)="loginUser()">
            <div class="form-group row">
              <label for="inputEmail" class="col-sm-3 col-form-label">Email</label>
              <div class="col-sm-9">
                <input
                type="email"
                name="email"
                class="form-control"
                id="inputEmail"
                placeholder="Email"
                [(ngModel)]="ninja.email"
                >
              </div>
            </div>
            <div class="form-group row">
              <label for="inputPassword" class="col-sm-3 col-form-label">Password</label>
              <div class="col-sm-9">
                <input
                type="password"
                name="password"
                class="form-control"
                id="inputPassword"
                placeholder="Password"
                [(ngModel)]="ninja.password"
                >
              </div>
            </div>
            <input class="btn btn-secondary" type="submit" value="Login">
          </form>
        </div>

        <div class="col-md-6">
          <h3>Register</h3>
          <form id="register-form" #myForm="ngForm" (submit)="createUser(); myform.reset()">
              <div class="form-group row">
                <label for="inputFirstName" class="col-sm-3 col-form-label">First Name</label>
                <div class="col-sm-9">
                  <input
                  class="form-control"
                  id="inputFirstName"
                  type="text"
                  name="firstName"
                  #firstName="ngModel"
                  [(ngModel)]="newUser.firstName"
                  placeholder="First Name"
                  required
                  minlength='2'>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputLastName" class="col-sm-3 col-form-label">Last Name</label>
                <div class="col-sm-9">
                  <input
                  class="form-control"
                  id="inputLastName"
                  type="text"
                  name="lastName"
                  #lastName="ngModel"
                  [(ngModel)]="newUser.lastName"
                  placeholder="Last Name"
                  required
                  minlength='2'>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputEmail" class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                  <input
                  class="form-control"
                  id="inputEmail"
                  type="email"
                  name="email"
                  #email="ngModel"
                  [(ngModel)]="newUser.email"
                  placeholder="Email"
                  required>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputPassword" class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-9">
                  <input
                  class="form-control"
                  id="inputPassword"
                  type="password"
                  name="password"
                  #password="ngModel"
                  [(ngModel)]="newUser.password"
                  required
                  minlength='8'
                  placeholder="Password must be at least 8 characters"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label for="inputConfirmPassword" class="col-sm-3 col-form-label">Password Confirmation</label>
                <div class="col-sm-9">
                  <input
                  class="form-control"
                  id="inputConfirmPassword"
                  type="password"
                  name="password_confirmation"
                  #password_confirmation="ngModel"
                  [(ngModel)]="newUser.password_confirmation"
                  required
                  placeholder="Password Confirmation"
                  />
                </div>
              </div>
              <input type="submit" class="btn btn-secondary" value="Register">
          </form>
          <div>
            <p *ngFor="let error of errors">{{ error }}</p>
          </div>
        </div>
      </div>
    </div>

</section>
