<p><%=link_to "My Profile", networks_path%></p>
<h2>Users you may want to connect with:</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Action</th>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td><%=user.name%></td>
    <td><%=link_to "Connect", invites_create_path(user.id), :method => :post %></td>
  </tr>

  <% end %>
</table>
