<a href="#">My Profile-unlinked</a>

<table>
  <tr>
    <th><h2>UserName from all users page</h2></th>
  </tr>
  <tr>
    <td>Description</td>
  </tr>
  <tr>
    <td><textarea name="name" rows="8" cols="25"></textarea></td>
  </tr>
</table>
